header{
    padding: 1%;
    background-color:black;
    color:blanchedalmond
}

.container{
    margin-right: 0;
    margin-left: 0;
}

.profile{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 1px solid;
}

img {
    width: 50%;
    height: auto;
}

.secction{
    border: 1px solid;
    border-color: lightgray;
    border-radius: 20px;
    padding: 2%
}