header{
    background-color:black;
    color:#ffebcd;
    padding: 1%;
    align-content: space-between;
}

*{
    font-family: 'Poppins', sans-serif;
}

.headerContenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.redes{
    text-align: center;  
}

.miNombre{
    text-align: center;  
}

.container{
}

.profile{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 1px solid;
}

img {
    width: 50%;
    height: auto;
}

.secction{
    border: 1px solid;
    border-color: lightgray;
    border-radius: 20px;
    padding: 2%
}