header{
    background-color:black;
    color:#ffebcd;
    padding: 1%;
    align-content: space-between;
}

*{
    font-family: 'Poppins', sans-serif;
}

.headerContenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.redes{
    text-align: center;  
}

.miNombre{
    text-align: center;  
}

.container{
    display: flexbox;
}

.secctionPuente{
    border: 1px solid;
    border-color: lightgray;
    border-radius: 20px;    
}

.profile{
    height: 190px;  
    width: 190px;
    border-radius: 50%;
    border: 1px solid;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 15%;
}

.miniPerfil{
    padding: 2%;

}

.puente{
    max-width: 100%;
    max-height: 80%;
}

.secction{
    border: 1px solid;
    border-color: lightgray;
    border-radius: 20px;
    padding: 2%
}